@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
  font-family: patino;
  color: white;
}

@font-face {
  font-family: patino;
  src: url("/Patinio Futura.ttf");
}

.body-conatainer{
  max-width: 1421px;
  margin: 0 auto;
  height: 100vh;
  font-family: patino;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header main-content"
    "header header main-content"
    /* "header header main-content" */
    /* "sidebar footer main-content" */
    "sidebar footer main-content";
/*   grid-template-columns: 1fr 1fr; */ 
  gap: 15px;
  height: 100%;
}
@media (max-width: 767px) {
  .body-conatainer{
  height: 100%;
}
  .grid-container {
    grid-template-areas:
      "scroll"
      "header"
      "sidebar"
      "main-content"
      "footer";
  }
  .header {
  height: 294px
}
  
  .sidebar {
    height: fit-content
}

.main-content {
  height: fit-content
}

.footer {
  height: fit-content
}

}

.header {
  grid-area: header;
  border-radius: 12px;
  background-color: #000;
  border: 3px #1E1E1E solid;
}

.sidebar {
  grid-area: sidebar;
    border-radius: 12px;
  background-color: #000;
  border: 3px #1E1E1E solid;
}

.main-content {
  grid-area: main-content;
   border-radius: 12px;
  background-color: #000;
  border: 3px #1E1E1E solid;
}

.footer {
  grid-area: footer;
   border-radius: 12px;
  background-color: #000;
  border: 3px #1E1E1E solid;
}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
 10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
 20% { transform: rotate(-8.0deg) }
 30% { transform: rotate(14.0deg) }
 40% { transform: rotate(-4.0deg) }
 50% { transform: rotate(10.0deg) }
 60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
100% { transform: rotate( 0.0deg) }
}